<%= render :partial => 'calculation_scripts' %>
<span class="ajaxloader" style="display:none;"><%= image_tag 'loading.gif' %></span>
<div id="calculation_page" class="content_pane">
  <% optional = session[@prototype_calculation.label][:show_optional] %>
  <%= render :partial => 'help' %>
  <div class="links">
    <div class="link">
      <%= link_to_remote 'Add a calculation', :url => add_path(:type => @prototype_calculation.label) %>
    </div>
    <% if optional %>
      <div class="link">
        <%= link_to_remote 'Show compulsory inputs only', :url => toggle_optional_path(:type => @prototype_calculation.label,
                                                                                       :show_optional => 'false') %>
      </div>
    <% else %>
      <div class="link">
      <%= link_to_remote 'Show optional inputs', :url => toggle_optional_path(:type => @prototype_calculation.label,
                                                                    :show_optional => 'true') %>
      </div>
    <% end %>
    <div class="link">
      <%= link_to_function 'Guide', "$('#help_container').fadeToggle('slow','linear');" %>
    </div>
  </div>
  <br />
  <div class="table_container">
    <table id="calculation_table">
      <tr>
        <% up_image = image_tag "up-arrow.png", :alt => 'u' %>
        <% down_image = image_tag "down-arrow.png", :alt => 'd' %>
        <% calculation_terms_in_table_order(@prototype_calculation,optional).each do |term| %>
          <th>
            <%=term.name%>
            <span><%=link_to_remote up_image, :url => sort_path(:type => @prototype_calculation.label,
                                                            :ascending => term.label)%></span>
            <span><%=link_to_remote down_image, :url => sort_path(:type => @prototype_calculation.label,
                                                            :descending => term.label)%></span>
          </th>
        <%end%>
        <th class="delete_row"></th>
      </tr>
      <% @calculations.each do |calc| %>
        <tr><%= render 'edit_row', :calculation=>calc, :optional => optional %></tr>
      <%end%>
      <tr id="totals">
        <%= render("total_row", :calculations => @calculations, :prototype_calculation => @prototype_calculation, :optional => optional) unless @calculations.empty? %>
      </tr>
    </table>
    <div style="clear:both;"></div>
  </div>
</div>
<br />
<br />


