<% time = Time.now %>
<%= image_tag "ghgp_logo.gif", :id => 'ghgp_logo' %>
<p>This report was produced using the World Resources Institue Greenhouse Gas Protocol calculation tool for the <em><%= $tool_name %></em>, powered by AMEE</p>
<p>Exported by <em><%= current_user.email %></em> on <%= time.strftime("%A %d %B %Y") %> at <%= time.strftime("%k:%M") %></p>
<h4>Calculation methodologies used</h4>
<p>The data and calculation methodologies used to estimate greenshouse gas emissions are described below. More information on these calculation methodologies can found at <em>AMEEdiscover.com</em> (See the links provided)</p>
<br />
<table id="methodologies">
  <% @prototype_calculations.each do |label,calc| %>
    <tr>
      <td>
        <strong><%= calc.name %></strong>
        <br />
        <p><%= calc[:note] %></p>
        <em><%= "See more at " + calc.discover_url %></em>
      </td>
    </tr>
  <% end %>
</table>

<h4>Emissions breakdown</h4>
<p>Total estimated emissions, differentiated by greenhouse gas:</p>
<br />
<table id="emissions_summary">
  <tr><th>Greenhouse gas</th><th>Estimated emissions (kg)</th></tr>
  <% @totals.each do |total| %>
    <tr><td class="name"><%= total.name %></td><td class="value"><%= show_term_tag(total,:decimal_places => 2) %></td></tr>
  <% end %>
</table>
<br />
<% if @totals.labels.include? :co2e %>
  <p>CO2e is a measure of the environmental impact of all emissions combined. It represents emissions all greenhouse gases converted into the equivalent quantity of CO2 which would exert the same atmospheric warming effect</p>
<% end %>

<h4>Emissions breakdown by calculation methodology</h4>
<table id="totals_table">
  <%= render :partial => 'totals_table' %>
</table>

<h4>Calculation audit</h4>
<% @all_calculations.each_with_index do |calc,index| %>
  <p><%= index + 1 %></p>
  <table class="calculation_table">
    <% calc.inputs.visible.each do |input| %>
      <tr><td><%= input.name %></td><td><%= show_term_tag(input,:decimal_places => 2) %></td></tr>
    <% end %>
    <% calc.outputs.visible.each do |output| %>
      <tr><td><%= output.name %></td><td><%= show_term_tag(output,:decimal_places => 2) %></td></tr>
    <% end %>
  </table>
  <br />
<% end %>