<span class="ajaxloader" style="display:none;"><%= image_tag 'loading_small.gif' %></span>
<table id="filter">
  <tr>
    <td>Filter by:</td>
    <td>Sector: <%= select_tag 'sector', options_for_select(@sector_list.unshift("All"), session[:settings][:sector] || "All") %></td>
    <td>Country: <%= select_tag 'country', options_for_select(@country_list.unshift("All"), session[:settings][:country] || "All") %></td>
    <td>Financial metric: <%= select_tag 'financialMetric', options_for_select(@financial_metric_list.unshift("All"), session[:settings][:financialMetric] || "All") %></td>
    <% color = "#ff7a8d" %>
    <% font_size = "100%"%>
    <% if @normalized && @grid_normalized %>
      <% string = "These data are normalized to company #{session[:settings][:financialMetric].downcase} and grid intensity" %>
      <% font_size = "90%"%>
    <% elsif @grid_normalized %>
      <% string = "These data are normalized to grid intensity" %>
    <% elsif @normalized %>
      <% string = "These data are normalized to company #{session[:settings][:financialMetric].downcase}" %>
    <% else %>
      <% string = "These data represent raw, reported values" %>
      <% color = "#79afff" %>
    <% end %>
    <td style="font-size: <%= font_size %>;color: <%= color %>; white-space: normal; text-align: right; width:500px;"><%= string %></td>
  </tr>
</table>
<table id="benchmark" class="tablesorter">
  <thead>
    <tr>
      <th class="company">Company</th>
      <th class="country">Country</th>
      <th class="sector">Sector</th>
      <th class="scope-1-emissions">Scope 1 (t)</th>
      <% if @grid_normalized %>
        <th class="scope-2-emissions">Scope 2 electricity only (t)</th>
      <% else %>
        <th class="scope-2-emissions">Scope 2 (t)</th>
      <% end %>
      <th class="scope-1-energy">Scope 1 (MWh)</th>
      <% if @grid_normalized %>
        <th class="scope-2-energy">Scope 2 electricity only (MWh)</th>
      <% else %>
        <th class="scope-2-energy">Scope 2 (MWh)</th>
      <% end %>
      <th class="metric">Financial metric</th>
      <th class="intensity">t CO2e per $</th>
      <th class="dummy"></th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr id="<%= item['company']['value'].downcase.gsub(" ","-") %>">
      <td class="text company"><%= item['company']['value'] %></td>
      <td class="text country"><%= item['country']['value'] %></td>
      <td class="text sector"><%= item['sector']['value'] %></td>
      <td class="number scope-1-emissions"><%= item['massScopeOneCO2e']['value'].to_s %></td>
      <td class="number scope-2-emissions"><%= item['massScopeTwoCO2e']['value'].to_s %></td>
      <td class="number scope-1-energy"><%= item['energyScopeOne']['value'].to_s %></td>
      <% if @grid_normalized && item['energyScopeTwoElectricity'] %>
        <td class="number scope-2-energy"><%= item['energyScopeTwoElectricity']['value'].to_s %></td>
      <% else %>
        <td class="number scope-2-energy"><%= item['energyScopeTwoTotal']['value'].to_s %></td>
      <% end %>
      <td class="text metric"><%= item['financialMetric']['value'] %></td>
      <% if item['massCO2ePerUSDFinancialMetric']['value'].blank? %>
        <% value = item['massCO2ePerUSDFinancialMetric']['value'] %>
      <% else %>
        <% value  = "%f" % item['massCO2ePerUSDFinancialMetric']['value'] %>
      <% end %>
      <td class="number intensity"><%= value %></td>
      <td class="dummy"></td>
    </tr>
  <%end%>
  </tbody>
</table>