<%= render :partial => 'benchmark_scripts' %>
<div id="amee-logo">
  <%= image_tag 'AMEE-Logo2011-LINE_Green.png', :alt => 'AMEE'%>
</div>
<div id="tagline">
  <h2>sector</h2>
  <h1>benchmarking</h1>
</div>

<div id="benchmark-form-wrapper" class="content_pane" >
  <div>
    <% form_tag(benchmark_path, :method => 'get') do %>
    <table>
      <tr class="benchmark-select">
        <td>Choose a sector</td>
        <td><%= select_tag 'sector', options_for_select(@sector_list, session[:settings][:sector]) %></td>
      </tr>
      <% if false %>
        <tr class="benchmark-select">
          <td>Choose a country</td>
          <td><%= select_tag 'country', options_for_select(@country_list, session[:settings][:country]) %></td>
        </tr>
      <% end %>
      <tr class="benchmark-select">
        <td>Choose a financial metric</td>
        <td><%= select_tag 'financialMetric', options_for_select(@financial_metric_list, session[:settings][:financialMetric]) %></td>
      </tr>
      <tr class="benchmark-text">
        <td>Set a financial benchmark</td>
        <td><%= text_field_tag 'financial_measure', session[:settings][:financial_measure] %> USD ($)</td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 1 emissions</td>
        <td><%= text_field_tag 'scope1_emissions', session[:settings][:massScopeOneCO2e] %> Metric tonnes (t</td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 2 emissions</td>
        <td><%= text_field_tag 'scope2_emissions', session[:settings][:massScopeTwoCO2e] %> Metric tonnes (t</td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 1 energy consumption</td>
        <td><%= text_field_tag 'scope1_energy', session[:settings][:energyScopeOne] %> Megawatt hours (MWh)</td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 2 energy consumption</td>
        <td><%= text_field_tag 'scope2_energy', session[:settings][:energyScopeTwoTotal] %> Megawatt hours (MWh)</td>
      </tr>
    </table>
    <div id="benchmark-submit">
      <%= submit_tag 'Benchmark me!' %>
    </div>
    <% end %>
  </div>
</div>
<div id="benchmark-wrapper" class="content_pane">
  <div id="benchmark-table-wrapper">
    <% if @items %>
      <%= render :partial => 'company_table' %>
    <% else %>
      <%= image_tag 'AMEE-bug-ref_125x125.png', :alt => 'AMEE' %>
    <% end %>
  </div>
</div>