<div  id="benchmark-form-wrapper" class="content_pane">
    <%= form_tag(benchmark_path, :method => 'get') do %>
    <table>
      <tr class="benchmark-select">
        <td>Choose a sector</td>
        <td><%= select_tag 'sector', options_for_select(CompanySet.sector_list.reject {|s| s == 'All'}, @company_set.sector) %></td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 1 emissions</td>
        <td><span><%= text_field_tag 'mass_scope_one_co2e', @company_set.mass_scope_one_co2e %></span><span> Metric tonnes (t)</span></td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 2 emissions</td>
        <td><span><%= text_field_tag 'mass_scope_two_co2e', @company_set.mass_scope_two_co2e %></span><span> Metric tonnes (t)</span></td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 1 energy consumption</td>
        <td><span><%= text_field_tag 'energy_scope_one', @company_set.energy_scope_one %></span><span> Megawatt hours (MWh)</span></td>
      </tr>
      <tr class="benchmark-text">
        <td>Set scope 2 energy consumption</td>
        <td><span><%= text_field_tag 'energy_scope_two_total', @company_set.energy_scope_two_total %></span><span> Megawatt hours (MWh)</span></td>
      </tr>
      <tr class="benchmark-select">
        <td>Choose a financial metric</td>
        <td><%= select_tag 'financial_metric', options_for_select(CompanySet.financial_metric_list.reject {|s| s == 'All'}, @company_set.financial_metric || 'Revenue') %></td>
      </tr>
      <tr class="benchmark-text">
        <td>Set a financial benchmark</td>
        <td><span><%= text_field_tag 'financial_measure', @company_set.financial_measure %></span><span> USD ($)</span></td>
      </tr>
      <tr class="benchmark-text">
        <td>Normalize grid electricity</td>
        <td><%= select_tag 'country_for_grid_normalization', options_for_select(AMEE::Electricity.country_choices, @company_set.country_for_grid_normalization || 'None') %></td>
      </tr>
    </table>
    <div id="benchmark-submit">
      <%= submit_tag 'Benchmark!' %>
    </div>
    <% end %>
  </div>
  <div id="chart" class="content_pane">
    <%= render :partial => 'chart' %>
  </div>