<div  id="benchmark-form-wrapper" class="content_pane">
  <table id="filter">
    <tr>
      <td>Filter by:</td>
    </tr>
    <tr>
      <td>Sector:</td><td> <%= select_tag 'sector', options_for_select(CompanySet.sector_list, @company_set.sector || "All") %></td>
    </tr>
    <tr>
      <td>Country:</td><td> <%= select_tag 'country', options_for_select(CompanySet.country_list, @company_set.country || "All") %></td>
    </tr>
    <tr>
      <td>Financial metric:</td><td> <%= select_tag 'financial_metric', options_for_select(CompanySet.financial_metric_list, @company_set.financial_metric || "All") %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Search</td><td style="color: LightGray">start typing . . .</td>
    </tr>
    <tr>
      <td>Company:</td><td><%= text_field_tag 'q' %></td>
    </tr>
  </table>
</div>
<div id="chart" class="content_pane">
  <%= render :partial => 'chart' %>
</div>