<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= javascript_include_tag :defaults %>
    <%= render :partial => "calculation/tab_scripts" %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= stylesheet_link_tag 'main' %>
    <%= yield :head %>
  </head>
  <body>
    <%= render :partial => "layouts/header" %>
    <%= yield %>
    <%= render :partial => "layouts/footer" %>

  </body>

</html>
